@import '~node_modules/modern-normalize/modern-normalize.css';

body {
    font-family: 'Montserrat', sans-serif;
    background: var(--mainBG);
}

.title {
    font-family: 'Seymour One', sans-serif;
}

.section {
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    padding: 0 20px;

    @include mobile {
        max-width: 480px;
    }

    @include tablet {
        width: 768px;
        padding: 0 32px;
    }

    @include pc {
        width: 1200px;
        padding: 0 16px;
    }
}

.btn {
    transition: color var(--duration) var(--cubic),
    background-color var(--duration) var(--cubic),
    border-color var(--duration) var(--cubic);
    cursor: pointer;
}

.link {
    transition: color var(--duration) var(--cubic),
    border-color var(--duration) var(--cubic);
}

.round { 
    border-radius: 50%;
}
