:root {
    --whiteText: #FCFCFC;
    --blackText: #131313;
    --grayText: #ABABAB;
    --darkText: #7A7A7A;
    --yellowText: #F8D24E;
    --mainBG: #84A178;
    --whiteBG: #FFFFFF;
    --ice-cream: #AEC6A5;
    --ice-coffee: #EFD478;
    --milkshakes: #D6936D;
    --BTN: #F8D24E;
    --accentBTN: #0A8817;
    --disabledBTN: #ABABAB;

    --Gap: 16px;
    --cubic: cubic-bezier(0.4, 0, 0.2, 1);
    --duration: 250ms;
}