<section class="about" id="about">
  <div class="container about_container">
  
    <p class="about__title-main">tradition and love</p>
    <h2 class="about__title-second">how it’s made?</h2>

    <div class="about__wrapper" >
      <div class="about__image-wraper">
        <picture>
          <source srcset="
          ./images/cow-aboutM.png 1x,
          ./images/cow-aboutM@2x.png 2x"
          media="(max-width: 767px)">   
          <source srcset="
          ./images/cow-aboutT.png 1x,
          ./images/cow-about@2x.png 2x"
          media="(max-width: 1199px)">   
          <source srcset="
          ./images/cow-about.png 1x,
          ./images/cow-about@2x.png 2x"
          media="(min-width: 1200px)">   
          <img src="./images/cow-about.png" alt="about__picture" class="about__picture" width="500">
        </picture>
      </div>
      <div class="about_wraper">
        <p class="about__dscr-firts">Ice is a place where you will become not only a little happier, but also healthier. Health is the main value for us, and we follow it when creating our handmade desserts.</p>
          
        <p class="about__dscr-second">We use traditional recipes and 100% natural ingredients. Our products are so natural that they can be given to children from the age of three years. Sweets lovers can expect 55 types of ice cream, 15 types of coffee and 23 milkshakes.</p>
    
        <p class="about__dscr-third">This is enough to choose ice cream and coffee for any mood!</p>    
       <button class="about_form_button btn" id="launch-btn" data-modal-read-open>Read more ></button>
     </div>
   </div>
  </div>
</section>