<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden">advantages</h2>
    <ul class="advantages-list list">
      <li class="advantages-list__item">
        <p class="advantages-list__number">721</p>
        <p class="advantages-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-list__item">
        <p class="advantages-list__number">16 kg</p>
        <p class="advantages-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-list__item">
        <p class="advantages-list__number">84</p>
        <p class="advantages-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
