<section class="сustomer-reviews section">

    <div class="container сustomer-reviews__container">
        
    <!-- буде схований треба додати -->
    <h2 class="сustomer-reviews__title">Сustomer reviews</h2>

    <ul class="сustomer-reviews__list">
        <li class="сustomer-reviews__item">  
            <picture class="сustomer-reviews__img">
                <source
                    srcset="
                    ./images/reviews-1.jpg    1x,
                    ./images/reviews-1-2x.jpg 2x"
                    />
                    <img
                      src="./images/reviews-1.jpg"
                      alt="photo Emily"
                      width="110"
                      height="164"
                    />
            </picture>
            <div class="сustomer-reviews__content">
                <p class="сustomer-reviews__text">I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In addition, |
                    you have beautiful serving, cozy atmosphere and polite staff.
                </p>
            </div>
            <p class="сustomer-reviews__text-autor">Emily, Los Angeles</p>
        </li>

        <li class="сustomer-reviews__item">
            <picture class="reviews__img">
                <source
                    srcset="
                    ./images/reviews-2.jpg    1x,
                    ./images/reviews-2-2x.jpg 2x"
                    />
                    <img
                      src="./images/reviews-2.jpg"
                      alt="photo Sam"
                      width="114"
                      height="112"
                    />
            </picture>
            <div class="reviews__content">
                <p class="reviews__text">I love eating popsicles on a hot day. Yours is always delicious. 
                    I recommend your cafe to everyone I know.
                </p>
            </div>
            <p class="reviews__text-autor">Sam, Los Angeles</p>
        </li>

        <li class="сustomer-reviews__item">    
            <picture class="сustomer-reviews__img">
                <source
                    srcset="
                    ./images/reviews-3.jpg    1x,
                    ./images/reviews-3-2x.jpg 2x"
                    />
                    <img
                      src="./images/reviews-3.jpg"
                      alt="photo Diana"
                      width="91"
                      height="94"
                    />
            </picture>

            <div class="сustomer-reviews__content">
                <p class="сustomer-reviews__text">Ice cream is my passion! I love your chocolate hazelnut ice cream! 
                    And I really like the excellent service - always served politely and quickly!
                </p>
            </div>
            <p class="сustomer-reviews__text-autor">Diana, Chicago</p>
        </li>
        <li class="сustomer-reviews__item">    
            <picture class="сustomer-reviews__img">
                <source
                    srcset="
                    ./images/reviews-4.jpg    1x,
                    ./images/reviews-4-2x.jpg 2x"
                    />
                    <img
                      src="./images/reviews-4.jpg"
                      alt="photo Bryan"
                      width="97"
                      height="91"
                    />
            </picture>

        <div class="сustomer-reviews__content">
            <p class="сustomer-reviews__text">Every day we come to you with friends after classes in college. 
                We love your ice cream and casual atmosphere!
            </p>
        </div>
        <p class="сustomer-reviews__text-autor">Bryan, New-York</p>
        </li>
    </ul>
    </div>

</section>