<section class="customer-reviews section">

    <div class="container сustomer-reviews__container">
        <h2 class="customer-reviews__title visually-hidden">Сustomer reviews</h2>

        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">  
                        <picture class="customer-reviews__img">
                            <source
                                srcset="
                                ./images/reviews-1.jpg    1x,
                                ./images/reviews-1-2x.jpg 2x"
                                />
                                <img
                                src="./images/reviews-1.jpg"
                                class="round"
                                alt="photo Emily"
                                width="110"
                                height="164"
                                />
                        </picture>
                    
                    <div class="customer-reviews__content">
                        <p class="customer-reviews__text">I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In addition,
                            you have beautiful serving, cozy atmosphere and polite staff.
                        </p>
                    </div>
                    <p class="customer-reviews__text-author">Emily, Los Angeles</p>
                </div>
        
                <div class="swiper-slide">
                    <picture class="customer-reviews__img">
                        <source
                            srcset="
                            ./images/reviews-2.jpg    1x,
                            ./images/reviews-2-2x.jpg 2x"
                            />
                            <img
                            src="./images/reviews-2.jpg"
                            class="round"
                            alt="photo Sam"
                            width="114"
                            height="112"
                            />
                    </picture>
                    <div class="customer-reviews__content">
                        <p class="customer-reviews__text">I love eating popsicles on a hot day. Yours is always delicious. 
                            I recommend your cafe to everyone I know.
                        </p>
                    </div>
                    <p class="customer-reviews__text-author">Sam, Los Angeles</p>
                </div>
        
                <div class="swiper-slide">    
                    <picture class="customer-reviews__img">
                        <source
                            srcset="
                            ./images/reviews-3.jpg    1x,
                            ./images/reviews-3-2x.jpg 2x"
                            />
                            <img
                            src="./images/reviews-3.jpg"
                            class="round"
                            alt="photo Diana"
                            width="91"
                            height="94"
                            />
                    </picture>
        
                    <div class="customer-reviews__content">
                        <p class="customer-reviews__text">Ice cream is my passion! I love your chocolate hazelnut ice cream! 
                            And I really like the excellent service - always served politely and quickly!
                        </p>
                    </div>
                    <p class="customer-reviews__text-author">Diana, Chicago</p>
                </div>

                <div class="swiper-slide">    
                    <picture class="customer-reviews__img">
                        <source
                            srcset="
                            ./images/reviews-4.jpg    1x,
                            ./images/reviews-4-2x.jpg 2x"
                            />
                            <img
                            src="./images/reviews-4.jpg"
                            class="round"
                            alt="photo Bryan"
                            width="97"
                            height="91"
                            />
                    </picture>
        
                <div class="customer-reviews__content">
                    <p class="customer-reviews__text">Every day we come to you with friends after classes in college. 
                        We love your ice cream and casual atmosphere!
                    </p>
                </div>
                <p class="customer-reviews__text-author">Bryan, New-York</p>
                </div>
            </div>

            <div class="swiper-pagination"></div>
        </div>
    </div>