<!----------------FOOTER---------------------------->
<footer class="footer">
  <div class="footer__wrap container">
    <div class="footer__description">
      <p class="footer__slogan-first">Homemade ice cream made</p>
      <p class="footer__slogan-second">With passion</p>
    </div>
    <div class="footer__soc">
      <ul class="soc__list list">
        <li class="soc__item">
          <a href="https://github.com" class="soc__link link">
            <svg class="soc__icon" width="19" height="19">
              <use href="./images/sprite.svg#icon-icon-cat"></use>
            </svg>
          </a>
        </li>
        <li class="soc__item">
          <a href="https://web.telegram.org" class="soc__link link">
            <svg
              class="soc__icon soc__icon--footer-color"
              width="19"
              height="15"
            >
              <use href="./images/sprite.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="soc__item">
          <a href="https://uk-ua.facebook.com" class="soc__link link">
            <svg
              class="soc__icon soc__icon--footer-color"
              width="9"
              height="19"
            >
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer__contact">
      <p class="footer__contact-content">
        Feel free to contact<a class="tel__link link" href="tel:+380991111111"
          ><span class="tel__text--color">+61 (0) 383 766 284</span></a
        >
      </p>
    </div>
  </div>
  <div class="footer__underline">
    <p class="footer__text-underline">
      © 2022 - IceCream. All Rights Reserved.
    </p>
  </div>
</footer>
