<!----------------FOOTER---------------------------->
<footer class="footer">
  <div class="footer__wrap">
    <div class="footer__description">
      <p>Homemade ice cream made</p>
      <p>With passion</p>
    </div>
    <div class="footer__soc">
      <ul class="soc__list">
        <li class="soc__item">
          <a href="" class="soc__link link">
            <svg class="soc__icon" width="20" height="20">
              <use href="../images/sprite.svg#icon-icon-cat"></use>
            </svg>
          </a>
        </li>
        <li class="soc__item">
          <a href="" class="soc__link link">
            <svg
              class="soc__icon soc__icon--footer-color"
              width="20"
              height="20"
            >
              <use href="../images/sprite.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="soc__item">
          <a href="" class="soc__link link">
            <svg
              class="soc__icon soc__icon--footer-color"
              width="20"
              height="20"
            >
              <use href="../images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer__contact">
      <p>Feel free to contact</p>
      <a class="tel__link link" href="tel:+380991111111">+38 099 111 11 11</a>
    </div>
    <div class="footer__underline">
      <p>© 2022 - IceCream. All Rights Reserved.</p>
    </div>
  </div>
</footer>
