<section class="gallery">
  <div class="container">
    <div class="swiper-wrapper">
      <h2 class="visually-hidden">Gallery</h2>
      <div class="image-slider swiper-container">
        <div class="swiper">
          <div class="image-slider__wrapper swiper-wrapper">
            <div class="image-slider__slide swiper-slide">
              <div class="image-slider__image">
                <picture>
                  <source
                    srcset="
                      ./images/gallery-photo1-1x.jpg 1x,
                      ./images/gallery-photo1-2x.jpg 2x
                    "
                  />
                  <img
                    src="./images/gallery-photo1-1x.jpg"
                    alt="Ice-cream"
                    class="image-slider__photo"
                    width="279px"
                    height="130px"
                  />
                </picture>
              </div>
            </div>
            <div class="image-slider__slide swiper-slide">
              <div class="image-slider__image">
                <picture>
                  <source
                    srcset="
                      ./images/gallery-photo2-1x.jpg 1x,
                      ./images/gallery-photo2-2x.jpg 2x
                    "
                  />
                  <img
                    src="./images/gallery-photo2-1x.jpg"
                    alt="Ice-cream"
                    class="image-slider__photo"
                    width="279px"
                    height="130px"
                  />
                </picture>
              </div>
            </div>
            <div class="image-slider__slide swiper-slide">
              <div class="image-slider__image">
                <picture>
                  <source
                    srcset="
                      ./images/gallery-photo3-1x.jpg 1x,
                      ./images/gallery-photo3-2x.jpg 2x
                    "
                  />
                  <img
                    src="./images/gallery-photo3-1x.jpg"
                    alt="Ice-cream"
                    class="image-slider__photo"
                    width="279px"
                    height="130px"
                  />
                </picture>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
</section>
    </section>
