<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wrapper container">
    <h1 class="title visually-hidden">Gallery Swiper</h1>
    <div class="slider-image_wrapper_one">
        <div class="slider-image_one">
            <img src="./images/ice_cream_first_slide.jpg" alt="Картинка мороженого" class="image_one">
        </div>
    </div>

    <div class="slider-image_wrapper_two">
        <div class="slider-image_two">
            <img src="./images/ice_cream_second_slide.jpg" alt="Картинка мороженого" class="image_two">
        </div>
    </div>

    <div class="slider-image_wrapper_three">
        <div class="slider-image_three">
            <img src="./images/ice_cream_third_slide.jpg" alt="Картинка мороженого" class="image_three">
        </div>
    </div>
    </div>
</body>
</html>
