
    
    
    <section class="gallery">
        <div class="swiper-wrapper container">
            <h1 class="title">Gallery Swiper</h1>
            <div class="image-slider swiper-container parent_of_images">
                <div class="swiper">
                    <div class=" image-slider__wrapper swiper-wrapper">
                    <div class="image-slider__slide swiper-slide">
                        <div class="image-slider__image child_div_first"><img src="../images/ice_cream_first_slide.jpg" alt="Ice-cream" class="image_one"></div>
                    </div>
                
                    <div class="image-slider__slide swiper-slide">
                        <div class="image-slider__image child_div_second"><img src="../images/ice_cream_second_slide.jpg" alt="Ice-cream" class="image_two"></div>
                    </div>
                
                    <div class="image-slider__slide swiper-slide">
                        <div class="image-slider__image child_div_third"><img src="../images/ice_cream_third_slide.jpg" alt="Ice-cream" class="image_three"></div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

    </section>
