<header class="header">
    <div class="container">
        <a class="header-logo link" href="./index.html">
            <svg width="41" height="37">
                <use href="./images/sprite.svg#icon-Logo-icecream"></use>
            </svg>
        </a>
        <button type="button">
            <svg width="32" height="32">
                <use href="./images/sprite.svg#icon-Burger"></use>
            </svg>
        </button>   
    </div>

    <!-- Мобильное меню -->
    <div class="menu-mobile is-hidden">
        <div class="container">
            <svg width="41" height="37">
                <use href="./images/sprite.svg#icon-Logo-icecream"></use>
            </svg>
                <button type="button">
                    <svg width="32" height="32">
                        <use href="./images/sprite.svg#icon-icon-close"></use>
                    </svg>
                </button>
                <nav class="mobile-menu-nav">
                    <ul class="mobile-menu-list list">
                        <li class="item">
                            <a class="mobile-menu-link link current" href="">Home</a>
                        </li>
                        <li class="item">
                            <a class="mobile-menu-link link" href="">How it’s made?</a>
                        </li>
                        <li class="item">
                            <a class="mobile-menu-link link" href="">Our products</a>
                        </li>
                        <li class="item">
                            <a class="mobile-menu-link link" href="">Contact</a>
                        </li>
                    </ul>
                </nav>
            <button type="button" class="header-button">Buy now ></button>
        </div>
    </div>
</header>