<section class="hero section">
    <div class="hero__container container">
        <div class="hero__content-wraper">
            <h1 class="hero__title title">ice cream made with <span>passion</span></h1>
            <div class="hero__btn-wraper">
                <a href="#products" class="hero__btn link btn">Products</a>
                <a href="#about" class="hero__link link">How it’s made?</a>
            </div>
            <div class="hero__text-wraper">
                <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <svg class="hero-text__icon" width="40" height="14">
                    <use href="./images/sprite.svg#icon-arrow-long"></use>
                </svg>
            </div>
        </div>
        <div class="hero__img-wraper">
            <picture>
                <source srcset="
                ./images/dots.png 1x,
                ./images/dots@2x.png 2x"
                media="(max-width: 767px)">
                <source srcset="
                ./images/dotsT.png 1x,
                ./images/dotsT@2x.png 2x"
                media="(max-width: 1199px)">
                <source srcset="
                ./images/dotsPC.png 1x,
                ./images/dotsPC@2x.png 2x"
                media="(min-width: 1200px)">
                <img class="hero__img-dots" src="./images/dots.png" alt="dots" width="480">
            </picture>
            <picture>
                <source srcset="
                ./images/iceCream.png 1x,
                ./images/iceCream@2x.png 2x"
                media="(max-width: 767px)">
                <source srcset="
                ./images/iceCreamT.png 1x,
                ./images/iceCreamT@2x.png 2x"
                media="(max-width: 1199px)">
                <source srcset="
                ./images/iceCreamPC.png 1x,
                ./images/iceCreamPC@2x.png 2x"
                media="(min-width: 1200px)">
                <img class="hero__img-iceCream" src="./images/iceCream.png" alt="ice cream" >
            </picture>
            <picture>
                <source srcset="
                ./images/plate.png 1x,
                ./images/plate@2x.png 2x"
                media="(min-width: 768px)">
                <source srcset="
                ./images/platePC.png 1x,
                ./images/platePC@2x.png 2x"
                media="(min-width: 1200px)">
                <img class="hero__img-plate" src="#" alt="plate ice cream" width="152" height="152">
            </picture>
        </div>
    </div>
</section>