<div class="franchise-modal__backdrop is-hidden" data-modal>
  <div class="franchise-modal">
    <button
      data-modal-close
      class="franchise-modal__close-button"
      title="Close"
    >
      <svg width="16" height="16">
        <!-- <use href="./images/icons.svg#icon-close"></use> -->
      </svg>
    </button>
    <div>
      <p class="franchise-modal__title title">
        Thank you for your interest in owning an Ice Cream shop
      </p>
      <p class="franchise-modal__text">
        Due to the overwhelming volume of franchise requests we are not
        accepting new franchisee applications at this time. Once the application
        process resumes, we will contact you for further information. Please
        fill out the contact information below and we will reach out for
        additional information. We appreciate your patience.
      </p>
      <form class="franchise-form">
        <input
          type="text"
          class="franchise-form__input"
          placeholder="Name"
          id="user-name"
          name="user-name"
          minlength="2"
          autocomplete="off"
          pattern="[A-Za-z]+"
          required
        />
        <!-- letters only, usage of numbers, punctuation or special characters is not allowed-->
        <input
          type="tel"
          class="franchise-form__input"
          placeholder="Phone"
          id="user-phone"
          name="user-phone"
          pattern="((\+|00)?[1-9]{2}|0)[1-9]( ?[0-9]){8}"
          minlength="9"
          required
        />
        <input
          type="email"
          class="franchise-form__input"
          placeholder="Email"
          id="user-email"
          name="user-email"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
          required
        />
        <textarea
          name="user-comment"
          id="user-comment"
          class="franchise-form__comment"
          placeholder="Comment"
          autocomplete="off"
        ></textarea>
      </form>
      <button type="submit" class="franchise-modal__button">Submit</button>
    </div>
  </div>
</div>
