<div class="icecream-modal__backdrop is-hidden" icecream-data-modal >
<div class="modal-ingredients icecream__modal">
  <!-- classes added only for js execution, please do not delete -->
    <button icecream-data-modal-close class="button-modal" type="button" >
      <svg class="button-modal__svg" width="20" height="20">
        <use href="./images/sprite.svg#icon-icon-close"></use>
      </svg>
    </button>

    <h2 class="modal-ingredients__title">Chocolate icecream</h2>
    <div class="modal-ingredients__img-box">
    <picture>
      <source
        srcset="
          ./images/products_icecream@1x.jpg,
          ./images/products_icecream@2x.jpg
        "
        media="(max-width:767px)"
      />
      <img class="modal-ingredients__img"
        src="./images/products_icecream@1x.jpg"
        alt="Ice Cream"        
      />
    </picture>
    </div>
    <ul class="modal-ingredients__list list">
      <li class="modal-ingredients__item">
        <p class="modal-ingredients__text modal-ingredients__text--icecream">320</p>
        <p class="modal-ingredients__text">kcal</p>
      </li>
      <li class="modal-ingredients__item">
        <p class="modal-ingredients__text modal-ingredients__text--icecream">4g</p>
        <p class="modal-ingredients__text">Prote...</p>
      </li>
      <li class="modal-ingredients__item">
        <p class="modal-ingredients__text modal-ingredients__text--icecream">8,2g</p>
        <p class="modal-ingredients__text">Fats</p>
      </li>
      <li class="modal-ingredients__item">
        <p class="modal-ingredients__text modal-ingredients__text--icecream">40,4g</p>
        <p class="modal-ingredients__text">Carbs</p>
      </li>
    </ul>

    <div class="ingredients">
      <h3 class="ingredients__title">Ingredients</h3>
      <ul class="ingredients__list list">
        <li class="ingredients__item">
          <p class="ingredients__text">Milk</p>
          <p class="ingredients__text">100ml</p>
        </li>
        <li class="ingredients__item">
          <p class="ingredients__text">Belgian chocolate</p>
          <p class="ingredients__text">20g</p>
        </li>
        <li class="ingredients__item">
          <p class="ingredients__text">Cream</p>
          <p class="ingredients__text">150ml</p>
        </li>
        <li class="ingredients__item">
          <p class="ingredients__text">Cocoa powder</p>
          <p class="ingredients__text">30g</p>
        </li>
        <li class="ingredients__item">
          <p class="ingredients__text">Sugar</p>
          <p class="ingredients__text">40g</p>
        </li>
        <li class="ingredients__item">
          <p class="ingredients__text">Vanilla Sugar</p>
          <p class="ingredients__text">10g</p>
        </li>
      </ul>
    </div>

    <form class="form">
      <label class="form__label" for="name">
        <input
          class="form__input"
          type="text"
          name="name"
          id="name"
          placeholder="Name"
          required
        />
      </label>
      <label class="form__label" for="phone">
        <input
          class="form__input"
          type="tel"
          name="tel"
          id="phone"
          placeholder="Phone"
          required
        />
      </label>
      <label class="form__label" for="comment">
        <textarea
          class="form__textarea"
          name="comment"
          id="comment"
          cols="30"
          rows="10"
          placeholder="Comment"
        ></textarea>
      </label>
      <button class="button" type="submit">Submit</button>
    </form>
    
  </div>
</div>
</div>


<div class="coffee-modal__backdrop is-hidden" coffee-data-modal>
<div class="modal-ingredients coffee__modal">
  <!-- classes added only for js execution, please do not delete -->
    <button coffee-data-modal-close class="button-modal" type="button" >
      <svg class="button-modal__svg" width="20" height="20">
        <use href="./images/sprite.svg#icon-icon-close"></use>
      </svg>
    </button>

    <h2 class="modal-ingredients__title">Ice Coffee</h2>
    <div class="modal-ingredients__img-box modal-ingredients__img-box--coffee">
    <picture>
      <source
        srcset="
          ./images/products_coffee@1x.png,
          ./images/products_coffee@2x.png
        "
        media="(max-width:767px)"
      />
      <img class="modal-ingredients__img"
        src="./images/products_coffee@1x.png"
        alt="Ice Cream"        
      />
    </picture>
    </div>
    <ul class="modal-ingredients__list list">
      <li class="modal-ingredients__item modal-ingredients__item--coffee">
        <p class="modal-ingredients__text modal-ingredients__text--coffee">320</p>
        <p class="modal-ingredients__text">kcal</p>
      </li>
      <li class="modal-ingredients__item modal-ingredients__item--coffee">
        <p class="modal-ingredients__text modal-ingredients__text--coffee">4g</p>
        <p class="modal-ingredients__text">Prote...</p>
      </li>
      <li class="modal-ingredients__item modal-ingredients__item--coffee">
        <p class="modal-ingredients__text modal-ingredients__text--coffee">8,2g</p>
        <p class="modal-ingredients__text">Fats</p>
      </li>
      <li class="modal-ingredients__item modal-ingredients__item--coffee">
        <p class="modal-ingredients__text modal-ingredients__text--coffee">40,4g</p>
        <p class="modal-ingredients__text">Carbs</p>
      </li>
    </ul>

    <div class="ingredients">
      <h3 class="ingredients__title">Ingredients</h3>
      <ul class="ingredients__list list">
        <li class="ingredients__item">
          <p class="ingredients__text">Milk</p>
          <p class="ingredients__text">100ml</p>
        </li>
        <li class="ingredients__item">
          <p class="ingredients__text">Cinnamon syrup</p>
          <p class="ingredients__text">20ml</p>
        </li>
        <li class="ingredients__item">
          <p class="ingredients__text">Cold foam</p>
          <p class="ingredients__text">30ml</p>
        </li>
        <li class="ingredients__item">
          <p class="ingredients__text">Coffee</p>
          <p class="ingredients__text">30g</p>
        </li>
        <li class="ingredients__item">
          <p class="ingredients__text">Brown sugar</p>
          <p class="ingredients__text">20g</p>
        </li>
        <li class="ingredients__item">
          <p class="ingredients__text">Vanilla Sugar</p>
          <p class="ingredients__text">10g</p>
        </li>
      </ul>
    </div>

    <form class="form">
      <label class="form__label" for="name">
        <input
          class="form__input form__input--coffee"
          type="text"
          name="name"
          id="name"
          placeholder="Name"
          required
        />
      </label>
      <label class="form__label" for="phone">
        <input
          class="form__input form__input--coffee"
          type="tel"
          name="tel"
          id="phone"
          placeholder="Phone"
          required
        />
      </label>
      <label class="form__label" for="comment">
        <textarea
          class="form__textarea form__textarea--coffee"
          name="comment"
          id="comment"
          cols="30"
          rows="10"
          placeholder="Comment"
        ></textarea>
      </label>
      <button class="button  btn" type="submit">Submit</button>
    </form>
    
  </div>
</div>
</div>



<div class="milkshake-modal__backdrop is-hidden" milkshake-data-modal>
<div class="modal-ingredients milkshake__modal">
  <!-- classes added only for js execution, please do not delete -->
    <button milkshake-data-modal-close class="button-modal" type="button" >
      <svg class="button-modal__svg" width="20" height="20">
        <use href="./images/sprite.svg#icon-icon-close"></use>
      </svg>
    </button>

    <h2 class="modal-ingredients__title">Vanilla Milkshake</h2>
    <div class="modal-ingredients__img-box modal-ingredients__img-box--milkshake">
    <picture>
      <source
        srcset="
          ./images/products_milkshake@1x.png,
          ./images/products_milkshake@2x.png
        "
        media="(max-width:767px)"
      />
      <img class="modal-ingredients__img"
        src="./images/products_milkshake@1x.png"
        alt="Ice Cream"        
      />
    </picture>
    </div>
    <ul class="modal-ingredients__list list">
      <li class="modal-ingredients__item modal-ingredients__item--milkshake">
        <p class="modal-ingredients__text modal-ingredients__text--milkshake">320</p>
        <p class="modal-ingredients__text">kcal</p>
      </li>
      <li class="modal-ingredients__item modal-ingredients__item--milkshake">
        <p class="modal-ingredients__text modal-ingredients__text--milkshake">4g</p>
        <p class="modal-ingredients__text">Prote...</p>
      </li>
      <li class="modal-ingredients__item modal-ingredients__item--milkshake">
        <p class="modal-ingredients__text modal-ingredients__text--milkshake">8,2g</p>
        <p class="modal-ingredients__text">Fats</p>
      </li>
      <li class="modal-ingredients__item modal-ingredients__item--milkshake">
        <p class="modal-ingredients__text modal-ingredients__text--milkshake">40,4g</p>
        <p class="modal-ingredients__text">Carbs</p>
      </li>
    </ul>

    <div class="ingredients">
      <h3 class="ingredients__title">Ingredients</h3>
      <ul class="ingredients__list list">
        <li class="ingredients__item">
          <p class="ingredients__text">Milk</p>
          <p class="ingredients__text">50ml</p>
        </li>
        <li class="ingredients__item">
          <p class="ingredients__text">Vanilla syrup</p>
          <p class="ingredients__text">30ml</p>
        </li>
        <li class="ingredients__item">
          <p class="ingredients__text">IceCream</p>
          <p class="ingredients__text">150ml</p>
        </li>
        <li class="ingredients__item">
          <p class="ingredients__text">Caramel sauce</p>
          <p class="ingredients__text">20ml</p>
        </li>
        <li class="ingredients__item">
          <p class="ingredients__text">Chocolate syrup</p>
          <p class="ingredients__text">30ml</p>
        </li>
        <li class="ingredients__item">
          <p class="ingredients__text">Vanilla Sugar</p>
          <p class="ingredients__text">10g</p>
        </li>
      </ul>
    </div>

    <form class="form">
      <label class="form__label" for="name">
        <input
          class="form__input form__input--milkshake"
          type="text"
          name="name"
          id="name"
          placeholder="Name"
          required
        />
      </label>
      <label class="form__label" for="phone">
        <input
          class="form__input form__input--milkshake"
          type="tel"
          name="tel"
          id="phone"
          placeholder="Phone"
          required
        />
      </label>
      <label class="form__label" for="comment">
        <textarea
          class="form__textarea form__textarea--milkshake"
          name="comment"
          id="comment"
          cols="30"
          rows="10"
          placeholder="Comment"
        ></textarea>
      </label>
      <button class="button" type="submit">Submit</button>
    </form>

    
  </div>
</div>
</div>