<section class="reviews section">
    <!-- буде схований треба додати -->
    <h2 class="reviews__title">Сustomer reviews</h2>
    <picture class="reviews__img">
        <!-- <source srcset="
        media="(max-width: 767px)">
        <source srcset="
        media="(max-width: 1199px)">
        <source srcset="
        media="(min-width: 1200px)"> -->
        <img class="reviews__img" src="" alt="" width="">
    </picture>

    <ul class="reviews__list">
        <li class="reviews__item"></li>
        <li class="reviews__item"></li>
        <li class="reviews__item"></li>
        <li class="reviews__item"></li>
    </ul>


</section>