<div class="read_backdrop is-hidden" read-data-modal>
    <div class="read__modal">
        <button type="button" class="read__modal__close-button" read-modal-close>
            <svg class="read__modal__svg">
                <use href="./images/sprite.svg#icon-icon-close"></use>
            </svg>
        </button>
    <p class="read__modal__title title">How it’s made?</p>
    
    <p class="read__modal__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>

       
    </div>
</div>