<div class="backdrop is-hidden" data-modal>
    <div class="read__modal">
        <button type="button" class="about__modal-close-btn" data-modal-close>
            <svg class="modal-close-btn-icon" width="11" height="11">
                <use href="./images/sprite.svg#icon-icon-close"></use>
            </svg>
        </button>
    <h1 class="read__title">How it’s made?</h1>
    
    <p class="read__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>

       
    </div>
</div>