.vis-hidden {
  @include visibilityHidden;
}
.contacts-section {
  padding-bottom: 39px;
}
.contacts__list {
  margin-bottom: 32px;
}
.contacts__item {
  width: 100%;
  max-width: calc(480px - 40px);
  min-width: 320px;
  padding: 40px 32px;
  margin-bottom: 20px;
  background-color: var(--whiteText);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  &-category {
    display: inline-block;
    padding: 0px 23px;
    margin-bottom: 20px;
    background-color: var(--yellowText);
    border-radius: 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--blackText);
  }
  &-title {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    color: var(--blackText);
    margin-bottom: 8px;
  }
}
.contacts__address {
  width: 100%;
  padding-bottom: 24px;
  border-bottom: 1px solid #e1e1e1;
}
.contacts__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: var(--milkshakes);
}
.work-schedule {
  &__list {
    padding-bottom: 24px;
    padding-top: 24px;
    border-bottom: 1px solid #e1e1e1;
  }
  &__item:not(:last-child) {
    margin-bottom: 8px;
  }
  &__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    color: var(--blackText);
    &--gray {
      color: var(--grayText);
    }
  }
}
.contacts-connect {
  &__list {
    margin-top: 24px;
  }
  &__link {
      font-weight: 500;
      font-size: 12px;
      line-height: 1.5;
      color: var(--blackText);
  }
}
.contacts__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 196px;
  padding: 12px 34px;
  background-color: var(--BTN);
  border: transparent;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  color: var(--blackText);
  fill: currentColor;
&:hover {
        background-color: var(--accentBTN);
    }
  &:focus {
    background-color: var(--accentBTN);
    color: var(--whiteText);
  }
  &:disabled {
    background-color: var(--disabledBTN);
  }
  &--franchise {
    background-color: transparent;
    border: 2px solid var(--BTN);
    &:hover {
        background-color: transparent;
      border-color: var(--accentBTN);
    }
    &:focus {
        background-color: transparent;
      border-color: var(--accentBTN);
      color: var(--whiteText);
    }
    &:disabled {
        background-color: transparent;
      border-color: var(--disabledBTN);
    }
  }
}
.contacts-button__list {
    width: 100%;
    max-width: calc(480px - 40px);
}
.contacts-button__item {
    width: 100%;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
    &:not(:last-child) {
        margin-bottom: 16px;
    }
}