.vis-hidden {
  @include visibilityHidden;
}
.contacts-section {
  padding-bottom: 39px;
}
.contacts__list {
  margin-bottom: 32px;
  @include tablet {
    @include flex;
    gap: var(--Gap);
  }
}
.contacts__item {
  width: 100%;
  max-width: calc(480px - 40px);
  min-width: 320px;
  padding: 40px 32px;
  margin-bottom: 20px;
  background-color: var(--whiteText);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  @include tablet {
      width: calc((100% - 32px) / 3);
      max-width: 224px;
        min-width: auto;
        height: 100%;
        padding: 40px 25px;
        margin-bottom: 0;
    }
  &-category {
    display: inline-block;
    padding: 0px 23px;
    margin-bottom: 20px;
    background-color: var(--yellowText);
    border-radius: 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--blackText);
    @include tablet {
      font-size: 16px;
    }
  }
  &-title {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    color: var(--blackText);
    margin-bottom: 8px;
    @include tablet {
      font-size: 14px;
    }
  }
}
.contacts__address {
  width: 100%;
  padding-bottom: 24px;
  border-bottom: 1px solid #e1e1e1;
  @include tablet {
    padding-bottom: 26px;
    }
}
.contacts__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: var(--milkshakes);
  @include tablet {
      font-size: 14px;
    }
}
.work-schedule {
  &__list {
    padding-bottom: 24px;
    padding-top: 24px;
    border-bottom: 1px solid #e1e1e1;
    @include tablet {
        padding-bottom: 32px;
          padding-top: 32px;
      }
  }
  &__item:not(:last-child) {
    margin-bottom: 8px;
    @include tablet {
        margin-bottom: 9px;
      }
  }
  &__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    color: var(--blackText);
    @include tablet {
        font-size: 14px;
      }
    &--gray {
      color: var(--grayText);
    }
  }
}
.contacts-connect {
  &__list {
    margin-top: 24px;
    @include tablet {
      margin-top: 32px;
    }
  }
  &__link {
      font-weight: 500;
      font-size: 12px;
      line-height: 1.5;
      color: var(--blackText);
      @include tablet {
          font-size: 14px;
        }
  }
}
.contacts__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 196px;
  padding: 12px 34px;
  background-color: var(--BTN);
  border: transparent;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  color: var(--blackText);
  fill: currentColor;
&:hover,
&:hover .contacts__button--arrow {
        background-color: var(--accentBTN);
    }
  &:focus,
  &:focus .contacts__button--arrow {
    background-color: var(--accentBTN);
    color: var(--whiteText);
  }
  &:disabled,
  &:disabled .contacts__button--arrow {
    background-color: var(--disabledBTN);
  }
  &--franchise {
    background-color: transparent;
    border: 2px solid var(--BTN);
    &:hover,
    &:hover .contacts__button--arrow {
        background-color: transparent;
      border-color: var(--accentBTN);
    }
    &:focus,
        &:focus .contacts__button--arrow {
        background-color: transparent;
      border-color: var(--accentBTN);
      color: var(--whiteText);
    }
    &:disabled,
        &:disabled .contacts__button--arrow {
        background-color: transparent;
      border-color: var(--disabledBTN);
    }
  }
}
.contacts-button__list {
    width: 100%;
    max-width: calc(480px - 40px);
    @include tablet {
      @include flex;
      gap: var(--Gap);
      max-width: auto;
      margin-right: auto;
      margin-left: auto;
    }
}
.contacts-button__item {
    width: 100%;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
    @include tablet {
      min-width: 196px;
      margin: 0;
    }
    &:not(:last-child) {
        margin-bottom: 16px;
        @include tablet {
          margin-bottom: 0;
        }
    }
}