.bg-wrapper {
    position: relative;
    top: -24px;
    background-image: url(../images/bg-products-mob-1x.jpg), linear-gradient(#FCFCFC, #FCFCFC);
    background-position: top 100px center, top 24px left 0;
    background-repeat: no-repeat;
    background-size: 100% auto, auto 1070px;

    @include retina {
        background-image: url(../images/bg-products-mob-2x.jpg), linear-gradient(#FCFCFC, #FCFCFC);
    }

    @include tablet {
        background-image: url(../images/bg-products-tab-1x.jpg), linear-gradient(#FCFCFC, #FCFCFC);
      background-position: top 163px center, top 163px left 0;
      background-size: auto 958px, 100% 958px;

        @include retina {
            background-image: url(../images/bg-products-tab-2x.jpg), linear-gradient(#FCFCFC, #FCFCFC);
        }
    }

    @include pc {
        background-image: url(../images/bg-products-desk-1x.jpg), linear-gradient(#FCFCFC, #FCFCFC);
      background-position: top 95px center, top 95px left 0;
      background-size: auto 1118px, 100% 1118px;

        @include retina {
            background-image: url(../images/bg-products-desk-2x.jpg), linear-gradient(#FCFCFC, #FCFCFC);
        }
    }
}

.swiper {
    width: 100%;
}

.swiper>div.swiper-pagination {
    position: static;
}

.swiper .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    line-height: 50px;
    background-color: #84A178;
}


.customer-reviews {
    padding-top: 80px;
    padding-bottom: 100px;

    @include tablet{ 
        padding-top: 60px;
    }
    @include pc { 
        padding-top: 60px;
    }

    &__title {
        @include visibilityHidden;
    }

    &__img {
        display: block;
        width: 85px;
        height: 85px;
        margin-bottom: 32px;
        margin-left: auto;
        margin-right: auto;
    }

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 256px;

        background: #84A178;
        border-radius: 10px;
        padding: 34px 39px;
        width: 100%;
        margin-bottom: 30px;

        @include tablet {
            height: 138px;
            padding: 29px 80px;
        }
    }

    &__text {
        @include font-box (null, 12px, 255%, 0.04em);
        text-align: center;
        color: #FCFCFC;

        @include tablet {
            font-weight: 500;
            font-size: 14px;
            line-height: 186%;
        }

        @include pc {
            font-size: 16px;
        }
    }

    &__text-author {
        margin-bottom: 14px;

        @include font-box (500, 20px, 186%, 0.04em);
        text-align: center;
        color: #131313;

        @include tablet {
            font-size: 16px;
            margin-bottom: 32px;
        }
    }
}