.customer-reviews {
    background-color: var(--whiteBG);
    padding-top: 128px;
    padding-bottom: 100px;
    &__title {
        @include visibilityHidden; 
    }
    &__img { 
        display: block;
        width: 85px;
        height: 85px;
        margin-bottom: 32px;
        margin-left: auto;
        margin-right: auto;
    }
    &__content {
        background: #84A178;
        border-radius: 10px;
        padding: 34px 39px;
        width: 100%;
        margin-bottom: 30px;
    }
    &__text {
        padding-bottom: 30px;
        font-size: 12px;
        line-height: 255%;
        text-align: center;
        color: #FCFCFC;
    }
    &__text-author {
        font-weight: 500;
        font-size: 20px;
        line-height: 186%;
        text-align: center;
        color: #131313;

        margin-bottom: 24px;
    }
    
}


.swiper { 
    width: 100%;
}

.swiper .swiper-pagination-bullet { 
    padding-top: 12px;
    width: 12px;
    height: 12px;
    background-color: #84A178;
}