.footer {
  position: relative;
  &::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 120px;
    background-color: #e1e1e1;

    @include tablet {
      bottom: 56px;
    }

    @include pc {
      bottom: 45px;
    }
  }

  @include mobile {
    padding-bottom: 62px;
  }

  @include pc {
    padding-top: 120px;
  }
}

.footer__wrap {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 13px;
  }

  @include pc {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 11px;
  }
}

.footer__description {
  margin-bottom: 42px;
}

.footer__slogan-first {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: var(--whiteText);

  @include mobile {
    width: 280px;
  }

  @include tablet {
    width: 352px;
    margin-bottom: 9px;
    font-size: 26px;
    line-height: 1.22;
    letter-spacing: 0.04em;
  }

  @include pc {
    width: auto;
    font-size: 30px;
  }
}

.footer__slogan-second {
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--whiteText);

  @include mobile {
    width: 280px;
  }

  @include tablet {
    width: 352px;
    margin-bottom: 0px;
    font-size: 48px;
    line-height: 1.22;
    letter-spacing: 0.06em;
  }

  @include pc {
    width: auto;
    font-size: 58px;
  }
}

.footer__soc-contact {
  margin-bottom: 56px;
  display: flex;
  flex-direction: column;
  justify-content: end;

  @include tablet {
    margin-left: auto;
    padding-bottom: 15px;
  }

  @include pc {
    margin-left: 370px;
    margin-bottom: 66px;
    padding-bottom: 0px;
  }
}

.footer__soc {
  margin-bottom: 38px;

  @include tablet {
    margin-bottom: 32px;
  }

  @include pc {
    margin-bottom: 40px;
  }
}

.soc__list {
  display: flex;
  justify-content: right;
  gap: 28px;
}

.soc__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;

  background-color: #f8d24e;
  border-radius: 50%;

  transition: transform var(--duration) var(--cubic);

  &:hover .soc__icon,
  &:focus .soc__icon {
    fill: var(--whiteText);
  }

  &:hover {
    transform: scale(0.95);
  }

  &:focus {
    transform: scale(1.05);
  }
}

.soc__icon {
  fill: var(--mainBG);
  transition: fill var(--duration) var(--cubic);
}

.footer__contact {
  @include tablet {
    margin-bottom: 0px;
  }
}

.footer__contact-content {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  text-align: right;
  color: var(--blackText);

  @include tablet {
    font-size: 14px;
  }
}

.tel__text--color {
  margin-left: 5px;
  color: var(--whiteText);

  &:hover,
  &:focus {
    color: var(--BTN);
  }
}

.footer__underline {
  margin: 0 auto;
}

.footer__text-underline {
  margin: auto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  color: #7a7a7a;

  @include miniMobile {
    width: 158px;
  }

  @include tablet {
    line-height: 1.86;
    letter-spacing: 0.02em;
  }

  @include pc {
    font-size: 12px;
  }
}
