.gallery {
  margin-top: 36px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;

  @include tablet {
    margin-top: 40px;
  }

  @include pc {
    margin-top: 86px;
  }
  
  .swiper-wrapper {
    width: calc(100vw - 40px);
  }
}


.swiper-container {
  max-width: 100%;
  margin: 0 auto;
}

.image-slider__slide {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.image-slider__image {
  height: 130px;
  width: 279px;
  border-radius: 24px;
  overflow: hidden;

  @include tablet {
    height: 327px;
    width: 704px;
  }

  @include pc {
    width: 1013px;
    height: 422px;
  }
}

.image-slider__photo {
  height: 100%;
  width: 100%;
}