.gallery__title {
    @include visibilityHidden;
}

.gallery {
    margin-top: 36px;
    margin-bottom: 30px; //для отступа, не по шаблону
    display: flex;
    justify-content: center;

    @include tablet {
        margin-top: 40px;

    }

    @include pc {
        margin-top: 86px;
    }

}

// .gallery {
//     background-color: var(--mainBG);
//     background-position: top 25px left 0;
// }

.swiper-container {
    max-width: 100%;
    margin: 0 auto;
}

.image-slider__slide {
    // height: 130px;
}

.child_div_first,
.child_div_second,
.child_div_third {
    // height: 100%;
    border-radius: 24px;
}

.image-slider__image {
    height: 130px;
    width: 279px;

    @include tablet {
        height: 327px;
        width: 704px;
    }

    @include pc {
        width: 1013px;
        height: 422px;
    }
}

.image_three,
.image_two,
.image_one {
    height: 100%;
    width: 100%;
}

.image_one {
    background-image: url(./images/ice_cream_first_slide_mobile.jpg);

    @include retina {
        background-image: url(./images/ice_cream_first_slide_mobile_2x.jpg);
    }

    @include tablet {
        background-image: url(./images/ice_cream_first_slide_tablet.jpg);

        @include retina {
            background-image: url(./images/ice_cream_first_slide_tablet_2x.jpg);
        }
    }

    @include pc {
        background-image: url(./images/ice_cream_first_slide.jpg);

        @include retina {
            background-image: url(./images/ice_cream_first_slide_2x.jpg);
        }
    }
}

.image_two {
    background-image: url(./images/ice_cream_second_slide_mobile.jpg);

    @include retina {
        background-image: url(./images/ice_cream_second_slide_mobile_2x.jpg);
    }

    @include tablet {
        background-image: url(./images/ice_cream_second_slide_tablet.jpg);

        @include retina {
            background-image: url(./images/ice_cream_second_slide_tablet_2x.jpg);
        }
    }

    @include pc {
        background-image: url(./images/ice_cream_second_slide.jpg);

        @include retina {
            background-image: url(./images/ice_cream_second_slide_2x.jpg);
        }
    }
}

.image_three {
    background-image: url(./images/ice_cream_third_slide_mobile.jpg);

    @include retina {
        background-image: url(./images/ice_cream_third_slide_mobile_2x.jpg);
    }

    @include tablet {
        background-image: url(./images/ice_cream_third_slide_tablet.jpg);

        @include retina {
            background-image: url(./images/ice_cream_second_slide_tablet_2x.jpg);
        }
    }

    @include pc {
        background-image: url(./images/ice_cream_third_slide.jpg);

        @include retina {
            background-image: url(./images/ice_cream_third_slide_2x.jpg);
        }
    }
}

.div_for_image {
    display: flex;
    justify-content: center;
    overflow: hidden;
}