.gallery__title {
    @include visibilityHidden;
}

.gallery {
    margin-top: 36px;
    display: flex;
    justify-content: center;

    @include tablet {
        margin-top: 40px;

    }

    @include pc {
        margin-top: 86px;
    }

}

// .gallery {
//     background-color: var(--mainBG);
//     background-position: top 25px left 0;
// }

.swiper-container {
    max-width: 100%;
    margin: 0 auto;
}

.image-slider__slide {
    // height: 130px;
}

.child_div_first,
.child_div_second,
.child_div_third {
    // height: 100%;
    border-radius: 8px;

    @include tablet {
        border-radius: 18px;
    }

    @include pc {
        border-radius: 24px;
    }
}

.image-slider__image {
    height: 130px;
    width: 279px;
    overflow: hidden;

    @include tablet {
        height: 327px;
        width: 704px;
        overflow: hidden;
    }

    @include pc {
        width: 1013px;
        height: 422px;
        overflow: hidden;
    }
}

.image_three,
.image_two,
.image_one {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image_one {
    background-image: url(../images/ice_cream_first_slide_mobile.jpg);

    @include tablet {
        background-image: url(../images/ice_cream_first_slide_tablet.jpg);
    }

    @include pc {
        background-image: url(../images/ice_cream_first_slide.jpg);
    }
}

.div_for_image {
    display: flex;
    justify-content: center;
    overflow: hidden;
}