.header__mobile-menu {
    @media screen and (max-width: 767px) {
        position: absolute;
        left: 0;
        top: 0;
        max-width: 480px;
        width: 100%;
        min-height: 100vh;
        display: block;
        background-color: var(--mainBG);
        padding: 12px 20px 63px;
        transform: translateY(0);
        z-index: 2;
        opacity: 1;
        transition: transform var(--duration) var(--cubic), z-index var(--duration) var(--cubic), opacity var(--duration) var(--cubic);
        display: flex;
        flex-direction: column;
        
    }

}

.header__mobile-menu--is-hidden {
    @media screen and (max-width: 767px) {
        transform: translateY(-100%);
        opacity: 0;
        z-index: -1;
    }
}

.mobile_menu-btn--close {
    position: absolute;
    right: 20;
    top: 16;
    border: none;
    background: transparent;
    line-height: 0;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.mobile_menu-btn {
    background-color: transparent;
    border: none;
    line-height: 0;
    padding: 10px 15px;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.mobile_menu-icon {
    fill: currentColor;
}

.header-logo-menu {
    position: absolute;
    left: 20;
    top: 12;
}






.header {
    
    // &-nav {
    //     display: none;
    //     @include pc {
    //         display: flex;
    //         margin-left: 269px;
    //     }
    // }
    // &-button {
    //     display: none;

        // @include tablet {
        //     display: flex;
        //     justify-content: center;
        //     margin-left: auto;
        //     border: none;
        //     width: 152px;
        //     height: 42px;
        //     background-color: #F8D24E;
        //     border-radius: 10px;
        //     font-weight: 600;
        //     font-size: 14px;
        //     line-height: 1.21;
        //     display: flex;
        //     align-items: center;
            
        //     color: #131313;
        // }
    }

    

   

    

    

// .header-menu-button {
//     display: none;
//     @media screen and (min-width: 768px) {
//             display: block;
//     }
// }

.menu {
    &-top {
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
    }
    &-button-open, &-button-close {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: transparent;
        width: 32px;
        height: 32px;
        @media screen and (min-width: 1200px) {
            display: none;
        }
    }
    &-button-svg {
        fill: #FCFCFC;
    }
    &-button {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: transparent;
        width: 152px;
        height: 42px;
        background-color: #F8D24E;
        border-radius: 10px;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        align-items: center;
        text-align: center;
    
        color: #131313;
        &-icon {
            margin-left: 7px;
        }

        @include tablet {
            position: absolute;
            top: 24px;
            right: 32px;
            z-index: 1000;
        }
    }
    &-mobile {
        display: block;
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #84A178;
        opacity: 1;

        @include pc { 
            display: none; 
        }
    }
    &-mobile.is-hidden {
        pointer-events: none;
        opacity: 0;
    }
    &-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 100%;
        overflow: auto;
        padding-top: 12px;
        padding-bottom: 63px;
    }
}

.mobile-menu {
    &-nav {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-top: 51px;

        font-weight: 700;
        font-size: 32px;
        line-height: 1.22;
    
        color: #FCFCFC;
    }
    &-list {
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin-top: 100px;
    }
    &-link {
        &:hover, &:focus {
            color: #131313;
        }
    }
}
