.hero {
    padding-top: 61px;

    @include tablet {
        padding-top: 40px;
    }

    @include pc {
        padding-top: 45px;
    }
}
.section {
}
.hero__container {
    display: flex;
    flex-direction: column;
    // height: 504px;
    position: relative;
}
.hero__content-wraper {
    margin-bottom: 20px;
    
    @include tablet {
        margin-bottom: 32px;
    }

    @include pc {
        margin-bottom: 42px;
    }
}
.container {
}
.hero__title {
    @include font (400, 26, 33, 0);
    text-transform: uppercase;
    color: var(--whiteText);
    margin-bottom: 32px;
    max-width: 275px;

    span {
        @include font (400, 34, 33, 0);
    }

    @include tablet {
        @include font (400, 18, 23, 0);
        max-width: 181px;
        margin-bottom: 20px;

        span {
            @include font (400, 24, 13, 0);
        }
    }

    @include pc {
        @include font (400, 38, 48, 0);
        max-width: 368px;
        margin-bottom: 28px;

        span {
            @include font (400, 38, 48, 0);
        }
    }
}
.title {
}

.hero__btn-wraper {
    display: flex;
    gap: 8px;
    align-items: center;
    @include font (600, 8, 10, 0);
}
.hero__btn {
    @include flex;
    width: 62px;
    height: 24px;
    color: var(--blackText);
    border: 2px solid var(--BTN);
    border-radius: 8px;
    
    &:hover {
        border-color: var(--accentBTN);
    }

    &:focus {
        color: var(--whiteText);
    }

    @include pc {
        @include font (600, 14, 18, 0);
        width: 134px;
        height: 42px;
    }
}
.link {
}
.btn {
}
.hero__link {
    text-decoration: underline;
    padding: 7px 10px;
    color: var(--BTN);

    &:hover {
        color: var(--accentBTN);
    }

    &:focus {
        color: var(--whiteText);
    }

    @include pc {
        @include font (600, 14, 18, 0);
        padding: 11px 22px;
    }
}

.hero__text-wraper {
    position: absolute;
    left: 217px;
    bottom: 26px;
    width: 152px;

    @include mobile {
        display: none;
    }

    @include pc {
        left: 256px;
        bottom: 100px;
        width: 200px;
    }
}

.hero__text {
    @include font (400, 12, 17, 0);
    color: var(--whiteText);
    margin-bottom: 13px;

    @include pc {
        @include font (400, 14, 20, 0);
        margin-bottom: 25px;
    }
}

.hero-text__icon{
    fill: var(--whiteText);

    .hero__text-wraper:hover & {
        transform: scale(1.2);
    }
}

.hero__number-wraper {
    position: absolute;
    right: 0;
    bottom: 205px;
    @include flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;
    
    @include mobile {
        display: none;
    }

    @include pc {
        bottom: 367px;
        gap: 16px;
    }

    div {
        display: flex;
        flex-direction: column;
        gap: 4px;
        align-items: flex-end;
    }
}
.hero__number {
    @include font (900, 28, 34, 0.04);
    text-transform: uppercase;
    color: var(--blackText);

    @include pc {
        @include font (900, 46, 56, 0.04);
    }
}
.hero__after-namber {
    @include font (400, 8, 10, 0);
    color: var(--whiteText);

    @include pc {
        @include font (400, 14, 17, 0.04);
    }
}
.hero__img-wraper {
    flex-grow: 1;
    height: 329px;
    max-width: 480px;

    @include miniMobile {
        height: 68.44vw;
    }
    
    @include tablet {
        max-width: 768px;
        height: 173px;
    }

    @include pc {
        max-width: 1200px;
        height: 287px;
    }
}
.hero__img-dots {
    position: absolute;
    bottom: 0;
    right: 0;
    pointer-events: none;

    @include tablet {
        width: 768px;
    }

    @include pc {
        width: 1200px;
    }
}
.hero__img-iceCream {

    // margin: 0 auto;
    position: absolute;
    left: 50%;
    bottom: -80px;
    transform: translate(-50%, 0%);
    width: 480px;
    pointer-events: none;
    
    @include tablet {
        left: 555px;
        bottom: -57px;
        width: auto;
    }

    @include pc {
        left: 880px;
        bottom: -100px;
    }
    @include miniMobile {
    bottom: -16.8vw;
    width: 100vw;

    
    }
}

.hero__img-iceCream-wink { 
        // margin: 0 auto;
        position: absolute;
        left: 50%;
        bottom: -80px;
        transform: translate(-50%, 0%);
        width: 480px;
        pointer-events: none;
        
        @include tablet {
            left: 555px;
            bottom: -57px;
            width: auto;
        }
    
        @include pc {
            left: 880px;
            bottom: -100px;
        }
        @include miniMobile {
        bottom: -16.8vw;
        width: 100vw;
    
        
        }
}
// .hero__img-iceCream:hover { 
//     background-image: url();
// }

.hero__img-plate {
    position: absolute;
    bottom: 13px;

    @include pc {
        bottom: 65px;
        width: 225px;
        height: 225px;
    }

    @include mobile {
        display: none;
    }
}