.location-modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  opacity: 1;
  transition: opacity 250ms var(--cubic);
  background-color: rgba(0, 0, 0, 0.2);
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  &.is-hidden .location-modal {
    transform: translate(-50%, -50%) scale(0.9);
  }
}
.location__modal {
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        transition: transform 250ms var(--cubic);
    position: relative;
    background-color: var(--whiteText);
    border: 2px solid var(--yellowText);
    border-radius: 10px;
    padding: 28px;
    max-width: 280px;
}
.location-modal{
    &__close-button {
        position: absolute;
        top: 8px;
        right: 8px;
        background-color: transparent;
        color: var(--blackText);
        fill: currentColor;

        border: transparent;

        &:hover,
        &:focus {
            color: var(--BTN);
        }
    }

    &__title {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: var(--blackText);
        text-align: center;
        margin-bottom: 20px;
    }
}
.location-modal__link {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 134px;
    margin-top: 24px;
    padding: 12px 34px;
    background-color: var(--BTN);
    border-color: transparent;
    border-radius: 10px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    color: var(--blackText);

    &:hover {
        background-color: var(--accentBTN);
    }

    &:focus {
        background-color: var(--accentBTN);
        color: var(--whiteText);
    }

    &:disabled {
        background-color: var(--disabledBTN);
    }
}