.by-now-modal__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 250ms var(--cubic);
    background-color: rgba(0, 0, 0, 0.2);
    overflow-y: scroll;

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
    }

    &.is-hidden .buy-now-modal {
        transform: translate(-50%, -50%) scale(0.9);
    }
}

.by-now__modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms var(--cubic);
    position: relative;
    background-color: var(--whiteText);
    border: 2px solid var(--yellowText);
    border-radius: 10px;
    padding: 28px;
    max-width: 280px;

    @include tablet {
        top: 55%;
        max-width: 568px;
        padding: 32px 60px;
    }
}

// upwards are the styles for modal javacript