.franchise-modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  opacity: 1;
  transition: opacity 250ms var(--cubic);
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }

  &.is-hidden .franchise-modal {
    transform: translate(-50%, -50%) scale(0.9);
  }
}

.franchise__modal {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--cubic);
  position: relative;
  background-color: var(--whiteText);
  border: 2px solid var(--yellowText);
  border-radius: 10px;
  padding: 28px;
  max-width: 280px;
}
// upwards are the styles for modal javacript
.franchise-modal {
  &__close-button {
      position: absolute;
      top: 8px;
      right: 8px;
      background-color: transparent;
      color: var(--blackText);
      fill: currentColor;
      border-color: transparent;
  
      &:hover,
      &:focus {
        color: var(--BTN);
      }
    }
  &__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--blackText);
    margin-bottom: 20px;
  }
  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: var(--blackText);
    margin-bottom: 24px;
  }
}
.franchise-form {
  width: 100%;
  &__input {
    width: 100%;
    height: 32px;
    margin-bottom: 12px;
    background-color: rgba(248, 210, 78, 0.1);
    border: 1px solid var(--mainBG);
    border-radius: 10px;
    padding: 7px 12px;
    &:focus {
      outline: 1px solid var(--BTN);
      border-color: var(--BTN);
    }
    &::placeholder {
      font-weight: 400;
      font-size: 12px;
      line-height: 1.4;
      color: var(--blackText);
    }
  }
  &__comment {
    width: 100%;
    height: 64px;
    resize: none;
    padding: 8px 12px;
    margin-bottom: 24px;
    background-color: rgba(248, 210, 78, 0.1);
    border: 1px solid var(--mainBG);
    border-radius: 10px;
    &:focus {
      outline: 1px solid var(--BTN);
      border-color: var(--BTN);
    }
    &::placeholder {
      font-weight: 400;
      font-size: 12px;
      line-height: 1.4;
      color: var(--blackText);
    }
  }
}
.franchise-modal__button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 12px 34px;
  background-color: var(--BTN);
  border-color: transparent;
  border-radius: 10px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  color: var(--blackText);
  &:hover {
    background-color: var(--accentBTN);
  }
  &:focus {
    background-color: var(--accentBTN);
    color: var(--whiteText);
  }
  &:disabled {
    background-color: var(--disabledBTN);
  }
}
