.read_backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 250ms var(--cubic);
    background-color: rgba(0, 0, 0, 0.2);
    overflow-y: scroll;   
    
    &.is-hidden {
      opacity: 0;
      pointer-events: none;
    }
  
    &.is-hidden .read__modal {
      transform: translate(-50%, -50%) scale(0.9);
    }
  }
  
  .read__modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms var(--cubic);
    // position: relative;
    background-color: var(--whiteText);
    border: 2px solid var(--yellowText);
    border-radius: 10px;
    padding: 28px;
      max-width: 568px;
      padding: 32px 60px;
    &__close-button {
      position: absolute;
      top: 20px;
        right: 20px;
      background-color: transparent;
      color: #131313;
      fill: currentColor;
      border-color: transparent;
      &:hover,
      &:focus {
        color: var(--BTN);
      }
    }   
    &__title {
      color: var(--blackText);
      text-align: center;
        @include font-box(null, 20px, 1.4, null);
        margin-bottom: 24px;
    } 
        &__svg {
            width: 20px;
            height: 20px;
        }
    
        &__descr {
          @include font-box(400, 16px, 1.4, null);
          color: var(--blackText);
         
        }
  }

  .read-modal__video { 
    width: 448px;
    height: 205px;
    margin-bottom: 32px;
    border-radius: 10px;
  }