.franchise-modal__backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(248, 210, 78, 0.1);
}
.franchise-modal {
  position: relative;
  background-color: var(--whiteText);
  border: 2px solid var(--yellowText);
  border-radius: 10px;
  padding: 28px;
  max-width: 280px;
  &__close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    color: var(--blackText);
    fill: currentColor;
    &:hover,
    &:focus {
      color: var(--BTN);
    }
  }
  &__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--blackText);
    margin-bottom: 20px;
  }
  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: var(--blackText);
    margin-bottom: 24px;
  }
}
.franchise-form {
  width: 100%;
  &__input {
    width: 100%;
    height: 32px;
    margin-bottom: 12px;
    background-color: rgba(248, 210, 78, 0.1);
    border: 1px solid var(--mainBG);
    border-radius: 10px;
    padding: 7px 12px;
    &:focus {
      outline: 1px solid var(--BTN);
      border-color: var(--BTN);
    }
    &::placeholder {
      font-weight: 400;
      font-size: 12px;
      line-height: 1.4;
      color: var(--blackText);
    }
  }
  &__comment {
    width: 100%;
    height: 64px;
    resize: none;
    padding: 8px 12px;
    margin-bottom: 24px;
    background-color: rgba(248, 210, 78, 0.1);
    border: 1px solid var(--mainBG);
    border-radius: 10px;
    &:focus {
      outline: 1px solid var(--BTN);
      border-color: var(--BTN);
    }
    &::placeholder {
      font-weight: 400;
      font-size: 12px;
      line-height: 1.4;
      color: var(--blackText);
    }
  }
}
.franchise-modal__button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 12px 34px;
  background-color: var(--BTN);
  border-color: transparent;
  border-radius: 10px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  color: var(--blackText);
  &:hover {
    background-color: var(--accentBTN);
  }
  &:focus {
    background-color: var(--accentBTN);
    color: var(--whiteText);
  }
  &:disabled {
    background-color: var(--disabledBTN);
  }
}
