.by-now-modal__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    opacity: 1;
    transition: opacity 250ms var(--cubic);
    background-color: rgba(0, 0, 0, 0.2);
    overflow-y: scroll;

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
    }

    &.is-hidden .buy-now-modal {
        transform: translate(-50%, -50%) scale(0.9);
    }
}

.by-now__modal {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms var(--cubic);
    position: relative;
    background-color: var(--whiteText);
    border: 2px solid var(--yellowText);
    border-radius: 10px;
    padding: 8px;
    max-width: 280px;

    @include tablet {
        top: 55%;
        max-width: 568px;
        padding: 32px 60px;
    }
}

.buy-now-modal-close {
    border: none;
    display: block;
    background-color: transparent;
    margin-left: auto;
}

// upwards are the styles for modal javacript

.products {
    padding-top: 4px;
    padding-bottom: 24px;
    width: 100%;


    @include retina {
        background-image: url(../images/bg-products-mob-2x.jpg);
    }

    @include tablet {
        background-image: url(../images/bg-products-tab-1x.jpg);

        @include retina {
            background-image: url(../images/bg-products-tab-2x.jpg);
        }

        padding-bottom: 82px;
    }

    @include pc {
        padding-bottom: 66px;
        background-image: url(../images/bg-products-desk-1x.jpg);

        @include retina {
            background-image: url(../images/bg-products-desk-2x.jpg);
        }
    }
}

.products__pre-title {
    @include font-box(800, 18px, 1.22, 0.04em);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 12px;

    @include tablet {
        font-size: 22px;
    }

    @include pc {
        font-size: 30px;
    }
}

.products__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #131313;
    margin-bottom: 86px;

    @include tablet {
        font-size: 34px;
        margin-bottom: 200px;
    }

    @include pc {
        font-size: 36px;
        margin-bottom: 302px;
    }
}

.products-list {
    @include tablet {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px;
    }
}

.products-list__item {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    height: 164px;
    width: 132px;
    padding: 94px 0 20px 0;
    border-radius: 24px;

    &:first-child {
        background-color: var(--ice-cream);
    }

    &:nth-child(2) {
        background-color: var(--ice-coffee);
    }

    &:last-child {
        background-color: var(--milkshakes);
    }

    &::before {
        position: absolute;
        content: '';
        top: -28%;
        left: 0;
        width: 132px;
        height: 132px;
        background-color: var(--modalBG);
        border-radius: 50%;

        @include tablet {
            left: 12px;
        }

        @include pc {
            width: 300px;
            height: 300px;
            top: -35%;
            left: 40px;
            margin-left: 0;
            margin-right: 0;
        }
    }

    @include mobile {
        &:not(:last-child) {
            margin-bottom: 164px;
        }
    }

    @include tablet {
        margin-left: 0;
        margin-right: 0;
        padding: 108px 26px 14px 26px;
        height: 428px;
        width: calc((100% - 32px) / 3);
    }

    @include pc {
        height: 536px;
        gap: 32px;
        padding: 166px 62px 60px 60px;
    }
}

.products-list__item:first-child:before {
    background-color: var(--ice-cream);
    background-image: url(../images/product-1-mob-tab-1x.jpg);
    box-shadow: 0px 12px 0px 0px rgba(205, 225, 197, 0.53),
        0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
    background-size: cover;

    @include retina {
        background-image: url(../images/product-1-mob-tab-2x.jpg);
    }

    @include pc {
        background-image: url(../images/product-1-desk-1x.jpg);

        @include retina {
            background-image: url(../images/product-1-desk-2x.jpg);
        }
    }
}

.products-list__item:nth-child(2):before {
    background-color: var(--ice-coffee);
    background-image: url(../images/product-2-mob-tab-1x.jpg);
    box-shadow: 0 12px #fff0be87, 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
    background-size: cover;

    @include retina {
        background-image: url(../images/product-2-mob-tab-2x.jpg);
    }

    @include pc {
        background-image: url(../images/product-2-desk-1x.jpg);

        @include retina {
            background-image: url(../images/product-2-desk-2x.jpg);
        }
    }
}

.products-list__item:last-child:before {
    background-color: var(--milkshakes);
    background-image: url(../images/product-3-mob-tab-1x.jpg);
    box-shadow: 0px 12px 0px 0px #f9a576b2,
        0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
    background-size: cover;

    @include retina {
        background-image: url(../images/product-3-mob-tab-2x.jpg);
    }

    @include pc {
        background-image: url(../images/product-3-desk-1x.jpg);

        @include retina {
            background-image: url(../images/product-3-desk-2x.jpg);
        }
    }
}

.products-list__title {
    font-weight: 700;
    font-size: 16px;
        line-height: 1.25;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
    
        color: #131313;

    @include tablet {
        font-size: 22px;
    }

    @include pc {
        font-size: 30px;
        margin-bottom: 65px;
    }
}

.products-list__text {
    @include font-box(400, 14px, 1.76, 0.04em);
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-bottom: auto;

    @include pc {
        font-size: 16px;
    }
}

.products-list__button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;

    &:hover .products-list__icon {
        width: 50px;
        height: 16px;
    }

    &:focus .products-list__icon {
        width: 50px;
        stroke: black;
        stroke-width: 1px;
        height: 18px;
    }
}

.products-list__icon {
    transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1),
        height 250ms cubic-bezier(0.4, 0, 0.2, 1);
}