.location-modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  opacity: 1;
  transition: opacity var(--duration) var(--cubic);
  background-color: rgba(0, 0, 0, 0.2);
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  &.is-hidden .location-modal {
    transform: translate(-50%, -50%) scale(0.9);
  }
}
.location__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--duration) var(--cubic);
  position: relative;
  background-color: var(--whiteText);
  border: 2px solid var(--yellowText);
  border-radius: 10px;
  padding: 28px;
  max-width: 280px;
  @include tablet {
    max-width: 568px;
    padding: 32px 60px;
  }
}
.location-modal {
  &__close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: transparent;
    color: var(--blackText);
    fill: currentColor;
    border: transparent;
    transition: color var(--duration) var(--cubic);
    @include tablet {
      top: 20px;
      right: 20px;
    }
    &:hover,
    &:focus {
      color: var(--BTN);
    }
  }

  &__title {
    @include font-box(400, 16px, 1.5);
    color: var(--blackText);
    text-align: center;
    margin-bottom: 20px;
    @include tablet {
      @include font-box(null, 20px, 1.4);
      margin-bottom: 32px;
    }
  }
  &__svg {
    width: 16px;
    height: 16px;
    @include tablet {
      width: 20px;
      height: 20px;
    }
  }
}
.location-modal__link {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 134px;
  margin-top: 24px;
  padding: 12px 34px;
  background-color: var(--BTN);
  border-color: transparent;
  border-radius: 10px;
  @include font-box(600, 12px, 1.25, null);
  color: var(--blackText);
  transition: color var(--duration) var(--cubic),
  background-color var(--duration) var(--cubic);
  @include tablet {
    margin-top: 32px;
    max-width: 145px;
    font-size: 14px;
  }

  &:hover {
    background-color: var(--accentBTN);
  }

  &:focus {
    background-color: var(--accentBTN);
    color: var(--whiteText);
  }

  &:disabled {
    background-color: var(--disabledBTN);
  }
}
