.by-now-modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  opacity: 1;
  transition: opacity 250ms var(--cubic);
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }

  &.is-hidden .buy-now-modal {
    transform: translate(-50%, -50%) scale(0.9);
  }
}

.by-now__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--cubic);
  // position: relative;
  background-color: var(--whiteText);
  border: 2px solid var(--yellowText);
  border-radius: 10px;
  padding: 8px 8px 28px 8px;
  max-width: 280px;

  @include tablet {
    top: 55%;
    max-width: 568px;
    padding: 20px 20px 32px;
  }
}

.buy-now-modal-close {
position: absolute;
    right: 8px;
  border: none;
  display: block;
  background-color: transparent;
  margin-left: auto;
  @include tablet {
    right: 20px;
  }
}

.buy-now {
  padding-bottom: 24px;
  width: 100%;

  @include tablet {
    padding-bottom: 40px;
  }
}

// .buy-now__pre-title {
//     font-weight: 400;
//     font-size: 16px;
//     line-height: 1.5;
//     text-align: center;
//     color: #131313;
//     margin-bottom: 57px;

//     @include tablet {
//         font-size: 20px;
//         line-height: 1.4;
//     }
// }

.buy-now__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #131313;
  margin-bottom: 57px;
    margin-top: 20px;
  text-align: center;

  @include tablet {
        margin-top: 12px;
            margin-bottom: 95px;
            font-size: 20px;
  }
}

.buy-now-list {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
  }
}

.buy-now-list__item {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  height: 164px;
  width: 132px;
  padding: 123px 0 20px 0;
  border-radius: 24px;

  &:first-child {
    background-color: var(--ice-cream);
  }

  &:nth-child(2) {
    background-color: var(--ice-coffee);
  }

  &:last-child {
    background-color: var(--milkshakes);
  }

  &::before {
    position: absolute;
    content: '';
    top: -28%;
    left: 0;
    width: 132px;
    height: 132px;
    background-color: var(--modalBG);
    border-radius: 50%;

    @include tablet {
      top: -35%;
      margin-left: 0;
      margin-right: 0;
    }
  }

  @include mobile {
    &:not(:last-child) {
      margin-bottom: 65px;
    }
  }

  @include tablet {
    margin-left: 0;
    margin-right: 0;
    padding: 113px 0 40px 0;
    height: 135px;
    width: 132px;
  }
}

.buy-now-list__item:first-child:before {
  background-color: var(--ice-cream);
  background-image: url(../images/product-1-mob-tab-1x.jpg);
  box-shadow: 0px 12px 0px 0px rgba(205, 225, 197, 0.53),
    0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
  background-size: cover;

  @include retina {
    background-image: url(../images/product-1-mob-tab-2x.jpg);
  }

  @include pc {
    background-image: url(../images/product-1-desk-1x.jpg);

    @include retina {
      background-image: url(../images/product-1-desk-2x.jpg);
    }
  }
}

.buy-now-list__item:nth-child(2):before {
  background-color: var(--ice-coffee);
  background-image: url(../images/product-2-mob-tab-1x.jpg);
  box-shadow: 0 12px #fff0be87, 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
  background-size: cover;

  @include retina {
    background-image: url(../images/product-2-mob-tab-2x.jpg);
  }

  @include pc {
    background-image: url(../images/product-2-desk-1x.jpg);

    @include retina {
      background-image: url(../images/product-2-desk-2x.jpg);
    }
  }
}

.buy-now-list__item:last-child:before {
  background-color: var(--milkshakes);
  background-image: url(../images/product-3-mob-tab-1x.jpg);
  box-shadow: 0px 12px 0px 0px #f9a576b2,
    0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
  background-size: cover;

  @include retina {
    background-image: url(../images/product-3-mob-tab-2x.jpg);
  }

  @include pc {
    background-image: url(../images/product-3-desk-1x.jpg);

    @include retina {
      background-image: url(../images/product-3-desk-2x.jpg);
    }
  }
}

.buy-now-list__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
}

.buy-now-modal-form {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @include tablet {
    gap: 16px;
  }
}

.form-field {
  text-align: center;
}

.modal-input,
.modal-textarea {
  width: 224px;
  
  padding: 8px 12px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;

  @include tablet {
    width: 368px;
    padding: 11px 16px;
  }
}

.modal-input {
    height: 32px;
    @include tablet {
    height: 42px;
    }
}

.modal-textarea {
    height: 65px;

    @include tablet {
        height: 84px;
    }
}

.placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #131313;
  @include tablet {
    font-size: 14px;
    
  }
}

.form-button {
  width: 114px;
  height: 42px;
  background: var(--yellowText);
  border-color: #0000;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.25;
  display: block;
  margin-top: 10px;
@include tablet {
        margin-top: 16px
    }
}