.products {
  padding-top: 60px;
  padding-bottom: 60px;
}
.products__pre-title {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.products__title {
  font-size: 30px;
  line-height: 1.27;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 148px;
}
.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 164px 32px;
}
.products-list__item {
  display: flex;
  flex-direction: column;
  height: 420px;
  max-width: 280px;
  padding: 123px 40px 14px 40px;
  border-radius: 24px;
  &:first-child {
    background-color: var(--ice-cream);
  }
  &:nth-child(2) {
    background-color: var(--ice-coffee);
  }
  &:last-child {
    background-color: var(--milkshakes);
  }
}
.products-list__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.products-list__text {
  margin-right: auto;
  margin-left: auto;
  font-size: 14px;
  line-height: 1.76;
  text-align: center;
  letter-spacing: 0.04em;
  margin-bottom: auto;
}
.products-list__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
  &:hover .products-list__icon {
    width: 50px;
    height: 16px;
  }
  &:focus .products-list__icon {
    width: 50px;
    stroke: black;
    stroke-width: 1px;
    height: 20px;
  }
}
